:root {
    --color_primary: #0ab3ff;
  }
  
  .sign-in {
    background-color: #010001;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-in h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  .sign-in form {
    color: white;
    background: #1c2630;
    padding: 60px 80px 60px;
    gap:20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
  }
  
  .inputBox {
    position: relative;
    width: 300px;
    margin-bottom: 40px;
  }
  .sign-in form label {
    position: absolute;
    left: 0;
    padding: 10px 0px;
    pointer-events: none;
    color: #999;
    text-transform: uppercase;
    transition: 0.25s ease-in-out;
  }
  
  .inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 0px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
  }
  .inputBox input:focus:valid {
    border-bottom: 2px solid var(--color_primary);
  }
  
  .inputBox:focus-within label,
  .inputBox:valid label {
    transform: translateY(-26px);
    font-size: 10px;
    color: var(--color_primary);
  }
  
  .inputBox label.active {
    transform: translateY(-26px);
    font-size: 10px;
    color: var(--color_primary);
  }
  
  .inputBox input:-webkit-autofill {
    /* Dostosuj styl dla pól autouzupełniania w przeglądarkach WebKit (np. Chrome) */
    box-shadow: 0 0 0 30px #1c2630 inset;
    -webkit-text-fill-color: white;
  }
  
  form .sign-in_button {
    background: var(--color_primary);
    border: none;
    padding: 15px;
    border-radius: 50px;
    width: 100%;
    cursor: pointer;
    color: #1c2630;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s;
  }
  form .sign-in_button:hover {
    letter-spacing: 0.35em;
  }
  .error-msg {
    color: rgb(196, 49, 49);
    font-size: 12px;
  }
  
  form .register-footer {
    color: #fff;
    text-transform: uppercase;
  }
  form .sign-in-footer .link {
    color: var(--color_primary);
    text-decoration: none;
    transition: all 0.2s ease;
  }

  form .sign-in-footer .link{
    margin-left: 4px;
  }
  form .sign-in-footer .link:hover {
    color:rgb(19, 32, 176);

  }
  
  @media only screen and (max-width: 500px) {
  
      .sign-in form {
          padding: 60px 50px ;
          display: flex;
          justify-content: center;
      }
  
    .inputBox{
      width: 240px;
  
  
    }
    .inputBox input{
     width: 100%;
    }
  
  }
  @media only screen and (max-width: 370px) {
    .sign-in form {
        padding: 60px 25px ;
        display: flex;
        justify-content: center;
    }

  .inputBox{
    width: 240px;


  }
  .inputBox input{
   width: 100%;
  }
  }