.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
}

.dashboard .left {
  width: calc(100% - 30%);
  overflow-y: scroll;
}
.dashboard .left::-webkit-scrollbar {
  display: none;
}

.dashboard .left .stats-container {
  background-color: orange;
  height: 250px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  /* background: url("./src/img/banner_3.jpg"); */
  background: linear-gradient(45deg, #0d0d0d, #1a1a1a);
  background-position: center;
  background-repeat: no-repeat;
  background-size: conver;
}

.dashboard .left .cards {
  background:   #010001;
  padding: 10px;
  margin-top: 20px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}

.dashboard .left .cards .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
background: #111215;
border-radius: 0.5em;
}
.dashboard .left .cards .filters .popular {
  display: flex;
  align-items: center;
}
.dashboard .left .cards .filters .popular h2 {
  font-size: 20px;
  font-weight: bold;
  color: #d1cfd4;
  margin-right: 10px;
}

/* TICKET CARDS */
.dashboard .left .cards main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard .right {
  width: calc(100% - 70%);
  width: calc(100% - 70%);
  padding: 0px 10px;
  padding-left: 20px;
  transition: all 0.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}

.dashboard .right .topCard,
.dashboard .right .bottomRightCard {
  background: #111215;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  padding: 10px 20px;
}

.dashboard .right .topCard .topCard_name,
.dashboard .right .bottomRightCard .bottomCard_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .right .topCard .topCard_name h2,
.dashboard .right .bottomRightCard .bottomCard_name h2 {
  color: #d1d0d5;
}
.dashboard .right .topCard .topCard_name a,
.dashboard .right .bottomRightCard .bottomCard_name a {
  color: #867cfa;
  text-decoration: none;
  font-weight: 600;
}
.dashboard .right .topCard .earnings {
  width: 100%;
  padding: 5px 10px;
}
.dashboard .right .topCard .earnings p {
  margin: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  color: #adabb8;
  font-weight: bold;
}


.dashboard .right .topCard .earnings p:nth-child(odd) {
  background: #010001;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}
.dashboard .right .topCard .earnings p:last-child span {
  font-size: 16px;
  color:#adabb8;
}
.dashboard .right .bottomRightCard {
  margin-top: 15px;
}

.dashboard .right .bottomRightCard .topSeller {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.dashboard .right .bottomRightCard .topSeller .topSellerImg {
  width: 45px;
  height: 45px;
  background: #252041;
  border-radius: 50%;
  overflow: hidden;
}
.dashboard .right .bottomRightCard .topSeller .topSellerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard .right .bottomRightCard .topSeller .topSeller_name {
  font-size: 14px;
  color: #adabb8;
  font-weight: bold;
  margin-left: 10px;
}
.dashboard .right .bottomRightCard .topSeller .topSeller_name span {
  display: block;
  font-size: 12px;
}
.dashboard .right .bottomRightCard .topSeller .btn {
  font-size: 10px;
  margin-left: auto;
}
