.card_main {
  background: #111215;
  border-radius: 0.5em;
  overflow-y: hidden;
  max-width: 260px;
  padding-bottom: 20px;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
 min-width: 220px;
 min-height: 300px;
 justify-content: space-between;
}

.card_main .image {
width: 100%;
/* height: 100%; */

}
.card_main img {
  width: 100%;
 height: 6rem;
  object-fit: cover;
}
.card_main .card_main_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 10px;
}
.card_main .card_main_name h2 {
  color: #e9e9ec;
  font-size: 16px;
  font-weight: bold;
}
.card_main .card_main_name .card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_main .card_main_name .card_icon i {
  color: #867cfa;
  font-size: 14px;
  text-shadow: 3px 5px 20px rgba(0, 0, 0, 0.4);
}
.card_main .card_main_name .card_icon i span {
  color: #e9e9ec;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
.card_main .stats {
  columns: 2;
  column-rule: 1px solid #adabb8;
  text-align: center;
  gap: 1em;
  margin: 15px 0px;
}
.card_main .stats p span {
  display: block;
  color:#506d94;
  font-size: 12px;
}

.card_main .stats p {
  color: #adabb8;
}
.card_main .card_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
}
.card_main .card_button .btn {
  font-size: 10px;
}
